extends layout
block content

  p Biblioteca Marota

  h1 Biblioteca Alexandria


  p Essa biblioteca tem os seguintes conteúdos:

  ul
    li #[strong Livros:] !{book_count}
    li #[strong Cópias:] !{book_instance_count}
    li #[strong Cópias disponíveis:] !{book_instance_available_count}
    li #[strong Autores:] !{author_count}
    li #[strong Gêneros:] !{genre_count}
